#grid-container {
    width: 650px;
    height: 650px;
}
.dark {
    background-color:black;
}
.top {
    border-top: 1px solid black;
}
.bottom {
    border-bottom: 1px solid black;
}
.left {
    border-left: 1px solid black;
}
.right {
    border-right: 1px solid black;
}